*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 100px;
}

.btn{
font-size: 32px;
padding: 15px 60px;
border-radius: 20px;
background: greenyellow;
color: white;
}